.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 95%;
    height: 50px;
    border-radius: 15px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
 
    background: rgba(255, 255, 255, 0); /* Semi-transparent background */
    backdrop-filter: blur(20px); /* Blur effect for the navbar */
    transition: all 0.3s ease; /* Smooth transition for background changes */
}

.fa-user {
    margin-left: 0.2rem;
    font-size: 1.6rem; 
}

.navbar-nav {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-items: end;
}

.nav-links {
    color: rgb(28, 28, 28);
    text-decoration: none;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    transition: background 0.3s ease;
}

.nav-links:hover {
    color: rgb(249, 145, 0);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border-bottom: 2px solid black;
}

/* .nav-links.active {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
} */


.nav-links i {
    padding-right: 10px;
}


.menu-icons {
    display: none;
}


.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  



@media screen and (max-width: 850px) {
    .NavbarItems {
        z-index: 99;
        backdrop-filter: blur(20px); /* Apply stronger blur on mobile */
        transition: all 0.5s ease-in-out; /* Smooth transition */
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px); /* Blur effect for the nav menu */
        border-radius: 13px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        cursor: pointer;
        transition: left 0.3s ease;
    }

    .navbar-nav.active {
        left: 0;
    }

    /* Updated to remove vertical spacing */
    .nav-links {
        display: block;
        padding: 1rem 0; /* Reduced padding to remove excessive line spacing */
        color: black;
        width: 100%;
        text-align: center;
    }

    .nav-links {
        text-decoration: none;
        padding: 0.7rem 1rem;
        white-space: nowrap;
        transition: background 0.3s ease;
    }
    
    .nav-links:hover {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
    }
       

    .menu-icons {
        display: block;
    }
}